
    body {
    font-family: sans-serif;

    }
    header {
        background-color: #004d99; /* Deep sky blue */
        color: white;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .brand {
        font-size: 36px; /* Increased font size for the brand */
        font-weight: bold;
        margin-bottom: 40px; /* Increased space below the brand before the menu */
    }

    .nav-menu, .user-menu {
        list-style-type: none;
        display: flex;
        gap: 30px; /* Spacing between navigation items */
        padding: 0;
    }

    .nav-menu li a, .user-menu li a {
        color: white;
        text-decoration: none;
        font-weight: bold; /* Make text bold */
        padding: 8px 16px;
        border-radius: 4px;
        transition: background-color 0.3s;
    }

    .nav-menu li a:hover, .user-menu li a:hover {
        background-color: #003366; /* Darker blue on hover */
    }

    .user-menu {
        position: absolute;
        top :5px;
        right: 20px;
    }
    .user-menu a {
        font-weight: bold; /* Make text bold */
        color: white; /* Set the text color to white */
    }

  
    .search-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #f0f0f0;
        padding: 10px;
      }
      
      .search-bar input {
        flex: 1;
        margin-right: 10px;
        padding: 8px;
      }
      
      button {
        background-color:  #004d99;;
        color: #fff;
        font-weight: bold;
        padding: 8px 12px;
        border: none;
        cursor: pointer;
      }
      button:hover{
        background-color: #003366;
      }
      
      .search-bar button img {
        width: 10px; /* Adjust the size of the search icon */
        height: 10px;
      }
      
      .order-filter, .price-filter {
        margin-left: 10px ;
        color: #333;
      }
      

  .container {
    display: flex;
  }
  
  .filter-container {
    width: 200px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    margin-right: 20px;
    /* background-color: #e0e0e0; Light grey background for sidebar */
    font-size: 18px;
    color: #333;

  }
  form{
    background-color: #e0e0e0; 
  }
  
  h2 {
    margin-bottom: 20px;
  }

.filter-category,
.filter-condition {
    margin-bottom: 15px;
    font-size: 16px;
    color: #555;

}

  
 .filter-btn {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: justify;
    cursor: pointer;
  } 
  
  .book-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .book {
    width: 200px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  img {
    width: 100px;
    height: 150px;
    object-fit: cover;
  }
  
  .book h3 a {
    color :black;
    text-decoration: none;
    margin-top: 10px;
    font-size: 18px;
  }
  .book:hover{
    background-color: #ccc;
  }
  
  .book p {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .hidden {
    display: none;
  }